/* This file is for the global selectors that aren't specific to a class, id or anything like that */
button {
    appearance: button;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}
[contentEditable] {
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    line-break: after-white-space;
    user-select: text;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}
html {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
*::before,
*::after {
    box-sizing: inherit;
}
*:focus {
    outline: 0;
}
input[type='checkbox'] > * {
    pointer-events: none;
}
::selection {
    background: hsl(212deg 100% 83% / 67.8%); /* WebKit/Blink Browsers */
}
canvas {
    width: 100%;
    height: 100%;
    background-size: cover;
}
body {
    padding: 0;
    margin: 0;
    bottom: 0;
    overflow-x: hidden;
    outline: none;
    overflow-y: overlay;
    background-color: #eee;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
}
:focus {
    outline: -webkit-focus-ring-color auto 0;
}
@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        animation: none !important;
    }
    canvas {
        display: none;
    }
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(255 255 255 / 59.6%);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(0 0 0 / 0%);
}
li {
    list-style-type: none;
    float: left;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
input[type='number'] {
    appearance: textfield;
}
[contentEditable='true']:empty:not(:focus)::before {
    content: attr(placeholder);
    color: grey;
}
[contentEditable='true'] {
    word-break: break-word;
    white-space: break-spaces;
}
button::-moz-focus-inner {
    border: 0;
}
