html {
    min-height: 100%;
    position: relative;
}
body {
    height: 100%;
    margin: 0;
    background-color: #232742;
    overflow: hidden;
}
#particles-js {
    top: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #232742;
    background-size: cover;
    background-image: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100%;
    z-index: 0;
    opacity: 0;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.ready {
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}
.main {
    height: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    justify-content: space-around;
    margin: 0;
    z-index: 1;
}
side-bar {
    z-index: 100;
}
#outlet {
    z-index: 1;
    display: flex;
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    transition: opacity 0.2s;
    transform: scale(1);
    opacity: 1;
}
#outlet > * {
    margin: auto;
}
@media screen and (width <= 900px) {
    .main {
        grid-template-columns: 1fr;
    }
}
.blur {
    opacity: 0.3 !important;
}
@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        animation: none !important;
    }
    canvas {
        display: none;
    }
}
