/* Transitions used by the router's default transitions */
@keyframes slide-out {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    40% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in {
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%);
        opacity: 0;
    }
}
.slide-left-in,
.slide-left-out,
.slide-right-in,
.slide-right-out {
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.29, 0.09, 0.07, 1.2);
    animation-duration: 0.3s;
}
.slide-left-in,
.slide-right-out {
    animation-name: slide-in;
}
.slide-left-out,
.slide-right-in {
    animation-name: slide-out;
}
.slide-left-in,
.slide-left-out {
    animation-direction: reverse;
}
